<a href="/">home</a>

<form action='/' method="GET">
  <input type="text" name="q" value="Indiana Jones" />
  <input type="submit" />
</form>

<h1>Search Results</h1>
<% results.forEach(function(result) { %>
  <h2><%= result.Title %></h2>
  <img src="<%= result.Poster %>" />
<% }); %>
